@{
    ViewData["Title"] = "Home Page";
}

<!-- top of the page-->
<div class="head">
    <div class="row">
        <div class="col2">
            <h1>
                Dress for Success
            </h1>
            <p>
                Gear up for greatness, and get ready to take on the day in style.<br />
                The right attire can ignite confidence and propel you towards<br />
                achieving your dreams.<br />

            </p>
            <a hrf="" class="btn"> Explore Now</a>
        </div>
        <div class="col2">

            <img src="~/css/front.png" alt="frontimage" />
        </div>
    </div>
</div>
    

    <!-- catageries-->
    <div class="categeries">
        <div  class="smallcontainer">
        <div class="row">
            <div class="col3">
                <img src="~/css/p7.png" alt="hoddy" height="300px"/>
            </div>
            <div class="col3">
                <img src="~/css/p17.PNG" alt="color" height="300px" />
            </div>
            <div class="col3">
                <img src="~/css/p18.PNG" alt="hoddy" height="300px" />
            </div>

        </div>

        </div>
     </div>


     <!--products-->
    <div class="smallcontainer">
    <h2 class="title">Features Products</h2>
        <div class="row">
        <div class="col-4" border="2px">
            <img src="~/css/p7.png" alt="product 1" height="200px" />
            <h4>Black printed Hoddy </h4>
            <p> $50.00</p>

        </div>
        <div class="col-4">
            <img src="~/css/p8.png" alt="product 1" height="200px" />
            <h4>Black Hoddy </h4>
            <p> $100.00</p>

        </div>
        <div class="col-4">
            <img src="~/css/p4.png" alt="product 1" height="200px" />
            <h4>Printed Hoddy </h4>
            <p> $80.00</p>

        </div>
        <div class="col-4">
            <img src="~/css/p9.png" alt="product 1" height="200px" />
            <h4>Printed Hoddy </h4>
            <p> $120.00</p>


        </div>
        </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4" border="2px">
            <img src="~/css/p12.PNG" alt="product 1" height="200px" />
            <h4>Sports Wear </h4>
            <p> $60.00</p>

        </div>
        <div class="col-4">
            <img src="~/css/p13.PNG" alt="product 1" height="200px" />
            <h4>Sports Wear </h4>
            <p> $150.00</p>

        </div>
        <div class="col-4">
            <img src="~/css/p14.PNG" alt="product 1" height="200px" />
            <h4>Sports Wear </h4>
            <p> $70.00</p>

        </div>
        <div class="col-4">
            <img src="~/css/p15.PNG" alt="product 1" height="200px" />
            <h4>Sports Wear </h4>
            <p> $115.00</p>


        </div>
    </div>

    <div class="row">
        <div class="col-4" border="2px">
            <img src="~/css/p16.PNG" alt="product 1" height="200px" />
            <h4>Sports Wear </h4>
            <p> $99.00</p>

        </div>
        <div class="col-4">
            <img src="~/css/p19.PNG" alt="product 1" height="200px" />
            <h4>Sports Wear </h4>
            <p> $40.00</p>

        </div>
        <div class="col-4">
            <img src="~/css/p3.png" alt="product 1" height="200px" />
            <h4>Printed Hoddy </h4>
            <p> $80.00</p>

        </div>
        <div class="col-4">
            <img src="~/css/p01.PNG" alt="product 1" height="200px" />
            <h4>Sports Wear </h4>
            <p> $180.00</p>


        </div>
    </div>

    </div>

    <!--offers-->
<div class="offer">
    <div class="smallcontainer">
        <div class="row">
            <div class="col2">
                <img src="~/css/offer.png" alt="offer" />
            </div>
            <div class="col2">
                <h1>
                    TurboStrike Pro
                </h1>
                <p>
                    Unleash your inner athlete with the TurboStrike Pro, a high-performance
                    sports wear top designed for boys. QuickDry technology and breathable
                    fabric keep you cool and dry during intense workouts and sports activities.
                </p>
                <a href="#" class="btn">Buy Now</a>
            </div>
        </div>

    </div>

</div>
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col3">
                <h3>Contact US</h3>
                <ul>
                    <li>Email</li>
                    <li>Phone no</li>
                </ul>
            </div>
            <div class="col3">
                <h3>About US</h3>
                <ul>
                    <li>Account</li>
                    <li>Shipping Method</li>
                    <li>Return Policy</li>
                    <li>Privacy Policy</li>
                    <li>Feed Back</li>
                    <li>FAQs</li>
                </ul>
            </div>
            <div class="col3">
                <h3>Follow US</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>

        </div>

    </div>

</div>