
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Poppins ,sans-serif;

}
.col2 {
    flex-basis: 50%;
    min-width: 350px;
   
}
.col2 img {
    max-width: 100%;
    padding: 50px 0px;
}
.col2 h1{
    font-size:50px;
    line-height: 50px;
    padding: 25px 0px;
}

.btn{
    display: inline-block;
    background-color: orangered;
    color: white;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
}
.btn:hover{
    background-color:red;
}
.categeries{
margin: 70px 0px;
}
.col3{
    flex-basis:30%;
    min-width:250px;
    margin-bottom: 30px;
}
col3 img{
    width:100%;
   
}

.smallcontainer{
    max-width:1080px;
    margin:auto;
    padding-left: 50px;
    padding-right: 50px;
}

.col-4{
    flex-basis:25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
    cursor:pointer;
}
col-4 img{
    width: 100%;
}
.title {
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}

.title::after {
    content: "";
    background-color: red;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
h4{
    color:#555;
    font-weight:normal;
}
.col-4{
    font-size:14px;
}
.col-4:hover{
    transform:translateY(-5px);
}
.offer {
    background: radial-gradient(#fff,#fff400);
    margin: 80px;
    padding: 30px 0px;
}
.head {
    background: radial-gradient(#fff,#fff400);
}

.footer{
    background: black;
    color: white;
    font-size:14px;
    padding:60px 0px 20px;
}

.footer h3{
    margin-bottom:20px;
}
    .footer footercol1 {
       
        flex-basis: 30%;
    }